.videoContainer {
  position: relative;
  top: 0;
  width: 100%;
}

.summerFestivalVideo {
  position: sticky;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100vw !important;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
}

.heroText {
  width: 100%;
  padding-top: 4rem /* 64px */;
  font-size: 3.2rem /* 60px */;
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
  text-align: center;
  word-break: keep-all;
}

.heroText:nth-child(2) {
  background: -webkit-linear-gradient(45deg, #9796f0, #fbc7d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stepWrapper {
  position: absolute;
  top: 10%;
  width: 100%;
  z-index: 20;
}

.stepWrapper .heroText:nth-child(2) {
  margin-bottom: 540px;
}

@media screen and (min-width: 768px) {
  .heroText {
    font-size: 8rem;
    line-height: 1.6;
  }

  .stepWrapper .heroText:nth-child(2) {
    margin-bottom: 1000px;
  }
}
