.setListItem {
  text-overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
}

.carouselImage {
  overflow: hidden;
  aspect-ratio: 3/4;
}

.carouselImage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
